
/* Google fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body,html {
    -webkit-backface-visibility: visible !important;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    background-color: #ffffff;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


@media (min-width: 979px) and (max-width: 1200px) {
    .container {padding: 0 20px;}
}

@media (min-width: 1200px) {
    .container {padding: 0 30px;}
}

@media (max-width: 767px) {
    .container {max-width: 620px;}
}

@media (max-width: 640px) {
    .container {max-width: 460px;}
}


/* TYPOGRAPHY
/* ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
}

h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}

h1.section-heading {
    margin-top: 100px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
}

h4 {
    font-weight: 300;
    font-size: 18px;
}

h5 {
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
}

h6 {
    font-weight: 300;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}


p.technicalSkills{
    font-size: 14px;
    color: #219ab3;
    margin-bottom: 0;
    font-weight: 300;
}


@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}


@media(max-width:767px) {
    h6 {
        font-size: 11px;
        text-align: center;
    }
}

a,
a:hover,
a:active,
a:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000000;
}

a:hover,
a:active,
a:focus {
    color: #219ab3;
}

a i,
a:hover i,
input,
input:hover,
input:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

ul, ol {
    padding-left: 0;
    list-style: none;
}

ul ul, ol ol,
ul ol, ol ul {
    padding-left: 20px;
}


::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}


.fa-stack i {
    color:black;
    background-color: white;
}

.fa-stack i:hover {
    color: #219ab3;
    background-color: white;
}

.fa-stack.noHighlight i:hover {
    color: black;
    background-color: white;
}

/* NAVIGATION
/* ========================================================================== */


.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
     border-bottom: 1px solid black;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;

}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);

}

.navbar-custom .nav li a {
    font-weight: 300;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: transparent;
    color: #219ab3;
    letter-spacing: 2px;
    font-size: 125%;
}

@media(min-width:767px) {
    .navbar {
    
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background-color: white;
        border-bottom: 1px solid black;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color:white;
          border-bottom: 1px solid black;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
          border-bottom: 1px solid black;
    }
}


@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/* BUTTONS
/* ========================================================================== */


.btn {
    border-radius: 3px;
}

.btn a {
    color: white;
}

.btn-default {
    color: white;
    background-color: #219ab3;
    border-color: #219ab3;
}


.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #219ab3;
    border-color: #219ab3;
}

.btn-default:hover a,
.btn-default:focus a {
    color: black;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #219ab3;
    border-color: #219ab3;
    color: #ffffff;
}

/* BACKGROUND & TYPOGRAPHY ON THE BACKGROUND
/* ========================================================================== */

.default-bg {
    background-color: #222222;
    color: #ffffff;
}
.translucent-bg {
    color: #ffffff;
}

.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6,
.translucent-bg h1,
.translucent-bg h2,
.translucent-bg h3,
.translucent-bg h4,
.translucent-bg h5,
.translucent-bg h6 {
    margin-top: 300px;
    color: #ffffff;
    margin-bottom: 100px;
   
}

.default-bg p,
.translucent-bg p {
    margin-top: 100px;
    margin-bottom: 400px;
    color: #ffffff;
    font-size: 18px;
}


.default-bg a,
.translucent-bg a {
    color: #219ab3;
     -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
   
}

.default-bg a:hover,
.translucent-bg a:hover {
    color: #11505d;
    text-decoration: none;
}

.translucent-bg {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
.translucent-bg .translucent-bg {
    margin-top: 500px;
    z-index: 3;
}
.translucent-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.translucent-bg.blue:after {
    background-color: rgba(85, 172, 238, 0.7);
}
.translucent-bg .container {
    z-index: 3;
    position: relative;
}

.aboutMeImage {
    background: url("/imgs/mit.jpg") 50% 0px no-repeat;
}



/* THUMBNAILS
/* ========================================================================== */

.thumbnail {
    border:0;
    border-radius: 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.thumbnail.hover,
.thumbnail:hover {
    border: solid 0px #219ab3;
}

.thumbnail .overflowed {
    margin-bottom: 20px;
    border-bottom: solid 1px #e9ecef;
}
.thumbnail .overflowed .img-responsive {
    width: 100%;
}
.thumbnail.no-border,
.thumbnail.no-border.hover,
.thumbnail.no-border:hover {
    border: none;
}

.thumbnail .progress {
    margin-bottom: 5px;
}

/* Thumbnail caption */
.do-hover .caption {
    position: absolute;
    top: 0; right: 0;
    left: 0; bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    background-color: #219ab3;
    color: #ffffff;
    opacity: 0;
}

.ie8 .do-hover .caption {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FE0AF62,endColorstr=#7FE0AF62)"; /* IE8 */    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FE0AF62,endColorstr=#7FE0AF62);   /* IE6 & 7 */      
    zoom: 1;
}

.projects .do-hover .caption {
    background-color: white;
    border-bottom: 1px solid #219ab3;
    border-top: 1px solid #219ab3;
    border-left: 1px solid #219ab3;
    border-right: 1px solid #219ab3;
}
.ie8 .projects .do-hover .caption {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E0AF62,endColorstr=#99E0AF62)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E0AF62,endColorstr=#99E0AF62);   /* IE6 & 7 */
    zoom: 1;
}
.caption-wrapper { width: 100%; }

.do-hover .caption-title {
    font-weight: 700;
    margin-top: 0;
    color: black;

}

.do-hover .caption-buttons a,
.do-hover .caption-category a {
    color: black;
    font-size: 15px;
}

/*Caption Typography*/

.do-hover h4.caption-h4{
   font-size: 20px;
   color: black;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 10px;
   margin-top:0;

}

.do-hover h5.caption-h5{
   margin-bottom: 10px;
   font-size: 12px;
   color: #219ab3;
   text-transform: none;
   font-weight: 300;
   margin-top:0;

}

.do-hover h6.caption-h6{
   font-size: 12px;
   color: black;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 5px;
   margin-top:0;

}


.do-hover ol.list {
    color: black;
}

.do-hover ol.list li{
    color: black;
    font-size: 10px;
}

.do-hover ol.list li.stAndrews {
    color: #219ab3;
    font-size: 12px;
}

.do-hover ol.list li.choate {
    color: #219ab3;
    font-size: 10px;
}


@media(max-width:767px) {

    .do-hover .caption-buttons a,
    .do-hover .caption-category a {
        color: black;
        font-size: 10px;
    }

    /*Caption Typography*/

    .do-hover h4.caption-h4{
       font-size: 10px;
       color: black;
       text-transform: uppercase;
       font-weight: 600;
       margin-bottom: 10px;
       margin-top:0;

    }

    .do-hover h5.caption-h5{
       margin-bottom: 10px;
       font-size: 7px;
       color: #219ab3;
       text-transform: none;
       font-weight: 300;
       margin-top:0;

    }

    .do-hover h6.caption-h6{
       font-size: 5px;
       color: black;
       text-transform: uppercase;
       font-weight: 600;
       margin-bottom: 5px;
       margin-top:0;

    }


    .do-hover ol.list {
        color: black;
    }

    .do-hover ol.list li{
        color: black;
        font-size: 7px;
    }

    .do-hover ol.list li.stAndrews {
        color: #219ab3;
        font-size: 7px;
    }

    .do-hover ol.list li.choate {
        color: #219ab3;
        font-size: 7px;
    }

}



/* Thumbnail caption hover animation */

.do-hover.hover .caption,
.do-hover:hover .caption {
    opacity: 1;
}

.do-hover:hover .img-responsive {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* Thumbnail caption transition */

.do-hover .img-responsive,
.do-hover.hover .img-responsive,
.do-hover:hover .img-responsive,
.do-hover .caption-title,
.do-hover.hover .caption-title,
.do-hover:hover .caption-title,
.do-hover .caption-zoom,
.do-hover.hover .caption-zoom,
.do-hover:hover .caption-zoom,
.do-hover .caption-link,
.do-hover.hover .caption-link,
.do-hover:hover .caption-link,
.do-hover .caption-category,
.do-hover.hover .caption-category,
.do-hover:hover .caption-category,
.do-hover .caption,
.do-hover.hover .caption,
.do-hover:hover .caption {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* FILTER
/* ========================================================================== */

.filtrable {
    display: inline-block;
    margin-bottom: 10px;
}

.filtrable li {
    /*float: left;*/
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 1px;
}

.filtrable a {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    padding: 10px 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.filtrable .current a,
.filtrable .active a,
.filtrable .current a:hover,
.filtrable .active a:hover,
.filtrable a:hover {
    border-color: #219ab3;
    background-color: #219ab3;
    color: #ffffff;
}


/* Helper Classes
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/*[data-animation],*/
.animated,
.vhidden {visibility: hidden;}
.visible {visibility: visible;}

.div-table, .div-cell {
    height: 100% !important;
    display: table !important;
}

.div-cell {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important;
}

@media (max-width: 767px) {
    [class*="col-"].div-table,
    [class*="col-"].div-cell {
        display: block !important;
    }
}


#contact {
    margin-bottom:50px;
}


/* Remove firefox dotted line
/* ========================================================================== */

a,
a:active,
a:focus,
input,
input:active,
input:focus,
button,
button:active,
button:focus,
select,
select:active,
select:focus {
    outline: 0 !important;
}

/* Remove webkit outline glow
/* ========================================================================== */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
